/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        tab_esc_ctrl: tab_esc_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_ESC_CTRL";
            #binding-cells = <0>;
            bindings =
                <&mt LCTRL ESC>,
                <&kp TAB>;
        };
        gqt: global-quick-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "GLOBAL_QUICK_TAP";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <180>;
            tapping-term-ms = <200>;
            global-quick-tap;
        };
        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings =
                <&mo>,
                <&kp>;

            #binding-cells = <2>;
            global-quick-tap;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };
    };

    combos {
        compatible = "zmk,combos";

        capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <11 18>;
            layers = <0>;
        };

        dh {
            bindings = <&m_paren_quote>;
            key-positions = <12 15>;
            layers = <0>;
        };

        gh {
            bindings = <&kp MINUS>;
            key-positions = <14 15>;
            layers = <0>;
        };

        s, {
            bindings = <&m_lt_gt_left>;
            key-positions = <11 27>;
            layers = <0>;
        };
    };

    macros {
        m_a_grave: m_a_grave {
            compatible = "zmk,behavior-macro";
            label = "M_A_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp LA(GRAVE) &kp A>;
        };
        m_a_caret: m_a_caret {
            compatible = "zmk,behavior-macro";
            label = "M_A_CARET";
            #binding-cells = <0>;
            bindings = <&kp LA(I) &kp A>;
        };
        m_e_cute: m_e_cute {
            compatible = "zmk,behavior-macro";
            label = "M_E_CUTE";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp E>;
        };
        m_e_grave: m_e_grave {
            compatible = "zmk,behavior-macro";
            label = "M_E_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp LA(GRAVE) &kp E>;
        };
        m_e_caret: m_e_caret {
            compatible = "zmk,behavior-macro";
            label = "M_E_CARET";
            #binding-cells = <0>;
            bindings = <&kp LA(I) &kp E>;
        };
        m_ou: m_ou {
            compatible = "zmk,behavior-macro";
            label = "M_OU";
            #binding-cells = <0>;
            bindings = <&kp O &kp LA(GRAVE) &kp U>;
        };
        m_u_caret: m_u_caret {
            compatible = "zmk,behavior-macro";
            label = "M_U_CARET";
            #binding-cells = <0>;
            bindings = <&kp LA(I) &kp U>;
        };
        m_o_caret: m_o_caret {
            compatible = "zmk,behavior-macro";
            label = "M_O_CARET";
            #binding-cells = <0>;
            bindings = <&kp LA(I) &kp O>;
        };
        m_paren_quote: m_paren_quote {
            compatible = "zmk,behavior-macro";
            label = "M_PAREN_QUOTE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp DOUBLE_QUOTES>;
        };
        m_lt_gt_left: m_lt_gt_left {
            compatible = "zmk,behavior-macro";
            label = "M_LT_GT_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "Base";
            bindings = <
&kp Q        &kp W         &lt 4 E      &kp R                &kp T           &kp Y        &kp U                &lt 2 I           &kp O         &kp P
&gqt LALT A  &gqt LSHFT S  &gqt LGUI D  &gqt LEFT_CONTROL F  &lt 1 G         &lt 1 H      &gqt LEFT_CONTROL J  &gqt LCMD K       &gqt LSHFT L  &gqt LALT SEMI
&kp Z        &kp X         &kp C        &kp V                &kp B           &kp N        &kp M                &kp COMMA         &kp DOT       &kp FSLH
                           &none        &kp SPACE            &lt 4 ESCAPE    &lt 4 ENTER  &kp BACKSPACE        &kp K_PLAY_PAUSE
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        symbols {
            label = "SYMBOLS";
            bindings = <
&none   &kp LA(LS(N2))  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE     &kp LESS_THAN     &kp UNDER          &kp EQUAL      &kp HASH         &none
&kp AT  &kp DOLLAR      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE    &kp MINUS         &kp DOUBLE_QUOTES  &kp APOS       &kp ASTERISK     &kp PLUS
&none   &kp CARET       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE    &kp GREATER_THAN  &kp PERCENT        &kp AMPERSAND  &kp EXCLAMATION  &kp BACKSLASH
                        &none                 &trans                 &trans       &trans            &trans             &none
            >;

            sensor-bindings =
                <&inc_dec_kp PAGE_UP PAGE_DOWN>,
                <&inc_dec_kp LG(Z) LG(LS(Z))>;
        };

        french {
            label = "FRENCH";
            bindings = <
&none       &none       &m_e_cute  &m_e_grave  &none     &none   &m_ou       &none  &m_o_caret  &none
&m_a_grave  &m_a_caret  &none      &m_e_caret  &none     &none   &m_u_caret  &none  &none       &none
&none       &none       &kp LA(C)  &none       &none     &none   &none       &none  &none       &none
                        &none      &trans      &trans    &trans  &trans      &none
            >;

            sensor-bindings =
                <&inc_dec_kp LG(RIGHT) LG(LEFT)>,
                <&inc_dec_kp F24 F24>;
        };

        navigation {
            label = "NAV";
            bindings = <
&kp F1        &kp F2          &kp F3        &kp F4            &kp F5    &kp F7        &kp F8      &kp F9  &kp F10    &kp F12
&kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_GUI  &kp LEFT_CONTROL  &kp F6    &kp LEFT      &kp DOWN    &kp UP  &kp RIGHT  &none
&none         &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1      &none     &out OUT_TOG  &none       &none   &none      &bootloader
                              &none         &trans            &trans    &kp TAB       &kp DELETE  &none
            >;

            sensor-bindings =
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>,
                <&inc_dec_kp LS(TAB) TAB>;
        };

        numpad {
            bindings = <
&none  &none  &none  &kp K      &none     &kp DOT       &kp N7  &kp N8  &kp N9  &kp STAR
&none  &none  &none  &kp J      &none     &kp MINUS     &kp N4  &kp N5  &kp N6  &kp PLUS
&none  &none  &none  &none      &none     &kp NUMBER_0  &kp N1  &kp N2  &kp N3  &kp FSLH
              &none  &kp LS(G)  &trans    &trans        &trans  &none
            >;

            label = "NUM";
            sensor-bindings =
                <&inc_dec_kp F24 F24>,
                <&inc_dec_kp F14 F15>;
        };
    };
};
